<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome to RMS</title>
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
        <tr>
            <td align="center" colspan="2"
                style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;background-color:#f0f0f0;padding:25px">
                <a href="<%=sOrganizationUrl%>" style="color:#006bb4;text-decoration:none" target="_blank">
                    <img width="145" height="145" src="<%=sLogo%>" alt="<%=ORGNAME%> Logo" border="0"
                        style="border:0;height:auto;line-height:100%;outline:none;text-decoration:none" class="CToWUd"
                        data-bit="iit">
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#f0f0f0" style="padding: 10px 0;">
                <h1>Set Password</h1>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px;">
                <p>Dear <%=NAME%>
                </p>
                <p>Warm Welcome to <%=ORGNAME%>! You have successfully registered with us.</p>
                <p>Please click the button below to set new password:</p>
                <p style="text-align: center;">
                    <a href="http://<%= RESET %>"
                        style="display: inline-block; padding: 10px 20px; background-color: #4caf50; color: #ffffff; text-decoration: none;">Set
                        Password</a>
                </p>
                <p>If you did not request a password reset, please ignore this email.</p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f0f0f0" style="padding: 20px 30px;">
                <p>Thank you,</p>
                <p>The RMS Team</p>
            </td>
        </tr>
    </table>
</body>

</html>